<div class="card">
  <slot />
</div>

<style>
	.card {
		padding: 1px 1em 1em;
    margin-bottom: 1em;
		border-radius: 7px;
    box-shadow: var(--shadow);
    background-color: var(--bg-prominent);
	}
</style>
