<div id="freighter-wrap" class="wrap" aria-live="polite">
  <small style="display: none" data-freighter-ellipsis class="ellipsis transparent"></small>
  <button style="display: none" class="transparent" data-freighter-connect aria-controls="freighter-wrap">Connect</button>
</div>

<style>
  .wrap {
    text-align: center;
    font-size: 0.8em;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ellipsis {
    margin: auto;
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
  }

  .transparent {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
</style>

<script>
  import * as wallet from '../wallet';

  const wrap = document.querySelector('#freighter-wrap');
  const button = document.querySelector('[data-freighter-connect]');
  const ellipsis = document.querySelector('[data-freighter-ellipsis]');

  button.addEventListener('click', async () => {
    button.disabled = true;
    await wallet.enable();
    button.disabled = false;
  });

  function show(element: HTMLElement) {
    element.style.display = 'block';
    setTimeout(() => {
      element.style.opacity = '1';
    }, 1);
  }

  function hide(element: HTMLElement) {
    element.style.removeProperty('opacity');
    element.style.display = 'none';
  }

  wallet.onChange(async ({ account, enabled }) => {
    if (enabled) {
      hide(button);
      ellipsis.innerHTML = account
        ? `Signed in as ${account}`
        : 'Please unlock Freighter';
      ellipsis.title = account;
      show(ellipsis);
    } else {
      hide(ellipsis);
      show(button);
    }
  });
</script>
