<div id="freighter-wrap" class="wrap" aria-live="polite">
  <small class="ifSignedIn ellipsis" data-freighter-ellipsis></small>
  <div class="ifSignedOut">
    <small style="display: none" data-freighter-error></small>
    <button style="display: none" data-freighter-connect aria-controls="freighter-wrap">Connect</button>
  </div>
</div>

<style>
  .wrap {
    text-align: center;
    font-size: 0.8em;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ellipsis {
    margin: auto;
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
  }
</style>

<script>
  import * as wallet from '../wallet';

  const wrap = document.querySelector('#freighter-wrap');
  const button = document.querySelector('[data-freighter-connect]');
  const ellipsis = document.querySelector('[data-freighter-ellipsis]');
  const errorMsg = document.querySelector('[data-freighter-error]');

  button.addEventListener('click', async () => {
    button.disabled = true;
    await wallet.enable();
    button.disabled = false;
  });

  wallet.onChange(async ({ account, enabled, network }) => {
    if (enabled && account && network === 'FUTURENET') {
      ellipsis.innerHTML = `Signed in as ${account}`;
      ellipsis.title = account;
    } else if (enabled && account && network !== 'FUTURENET') {
      errorMsg.innerHTML = 'Please switch to Futurenet';
      errorMsg.style.display = 'block';
      button.style.display = 'none';
    } else if (enabled && !account) {
      errorMsg.innerHTML = 'Please unlock Freighter';
      errorMsg.style.display = 'block';
      button.style.display = 'none';
    } else {
      errorMsg.style.display = 'none';
      button.style.display = 'block';
    }
  });
</script>
