<div class="columns">
  <div>
    <strong>Reserves</strong>
    <div class="columns">
      <div>
        <span data-reserve-usdc>-</span> USDC
      </div>
      <div>
        <span data-reserve-btc>-</span> BTC
      </div>
    </div>
  </div>
  <div style="margin-left: 1em">
    <strong>Pool fees</strong>
    <div>
      0.3%
    </div>
  </div>
</div>
