--- 
interface Props {
  title: string
}

import Balances from '../components/Balances.astro';
import ConnectFreighter from '../components/ConnectFreighter.astro';
import Stats from '../components/Stats.astro';
import Card from '../components/Card.astro';

import usdc from '../img/usdc.svg'
import btc from '../img/btc.svg'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <title>{ title } • Liquidity Pool</title>
	</head>
	<body>
    <nav>
      <h1>Liquidity Pool</h1>
      <ConnectFreighter />
    </nav>
    <main>
      <div class="columns">
        <div><Balances /></div>
        <div>
          <h2>
            <img src={usdc.src} alt="" />
            <img src={btc.src} alt="" />
            USDC • BTC
          </h2>
          <Stats />
          <Card>
            <slot />
          </Card>
        </div>
      </div>
    </main>
	</body>
</html>
<style>
  nav {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }
  h1 {
    margin: 0;
    font-size: inherit;
  }
  main {
    max-width: 55rem;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .columns > :first-child {
    flex: 1 1 4em;
  }
  .columns > :last-child {
    flex: 3 1 12em;
  }
  h2 {
    font-weight: normal;
    margin: 0;
  }
  h2 img {
    width: 1em;
    display: inline-block;
    vertical-align: bottom;
  }
  h2 img + img {
    margin-left: -0.25em;
  }
</style>
<style is:global>
  :root {
    --white: #fff;
    --shadow: #efefef;
    --black: #000;
    --bg: var(--shadow);
    --bg-prominent: var(--white);
    --fg: var(--black);
    --accent: rgb(231, 59, 147); /* pink */
    --accent-2: #A463B0; /* lilac */
		--accent-gradient: linear-gradient(45deg, var(--accent), var(--accent-2) 30%, white 60%);
    --loading-gradient: linear-gradient(90deg, #00000044, #00000022, #00000044);
    --shadow: rgba(0, 0, 0, .1);
    --light-text: #666;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --shadow: #1e1e1e;
      --bg-prominent: var(--black);
      --fg: var(--white);
      --loading-gradient: linear-gradient(90deg, #ffffff44, #ffffff22, #ffffff44);
    }
  }

  html {
    background: var(--bg);
    color: var(--fg);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
      Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
  }

  @media(min-width: 800px) {
    html {
      font-size: 22px;
    }
  }

  body {
    padding: 0;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    display: block;
    margin: auto;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
  }

  a {
    color: var(--accent);
    text-decoration: none;
    border-bottom: 1px solid var(--shadow);
    transition: border-color 150ms;
  }

  a:focus,
  a:hover {
    border-bottom-color: var(--accent);
  }

	button {
		border: 1px solid var(--accent);
		background-color: var(--shadow);
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		color: var(--fg);
		cursor: pointer;
		font-size: inherit;
		padding: 0.5rem 1rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
  small button {
    padding: 0.25rem 0.5rem;
  }
	button:not(:disabled):is(:hover, :focus-within) {
		color: black;
		background-position: 0;
		background-size: 400%;
		background-image: var(--accent-gradient);
	}
  button:active {
    transform: translateY(1px);
  }
	button:is(:disabled) {
		border-color: var(--shadow);
		cursor: not-allowed;
	}
	.visually-hidden {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

  .ifSignedIn,
  .ifSignedOut {
    display: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .columns {
    display: flex;
    gap: 1em;
    flex-flow: row wrap;
  }

  fieldset {
    border: none;
    padding: 0;
  }

  input {
    display: block;
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    border: 1px solid var(--fg);
    border-radius: 4px;
    padding: 0.25em 0.5em;
    width: 100%;
  }

  .loading input:is(:disabled),
  button:is(:disabled).loading,
  .loading button:is(:disabled),
	button:is(:disabled).loading {
		background: var(--loading-gradient);
		background-size: 200%;
		animation: loading-gradient 4s linear infinite;
	}
	@keyframes loading-gradient {
		0% {
			background-position: 0% 50%;
		}
		100% {
			background-position: -200% 50%;
		}
	}

  input:is(:disabled) {
    background-color: var(--shadow);
		cursor: not-allowed;
  }
</style>
  
